@font-face {
    font-family: 'Outfit-bold';
    src: local(''), url('./fonts/Outfit/Outfit-Bold.ttf');
}

@font-face {
    font-family: 'Outfit-regular';
    src: local(''), url('./fonts/Outfit/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Outfit-light';
    src: local(''), url('./fonts/Outfit/Outfit-Light.ttf');
}

*{
    scrollbar-color: #C11010 rgb(219, 201, 230);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scroll-margin-block-start: 10px;
}

.bg-primary {
    background-color: #C11010 !important;
}

.text-primary {
    color: #C11010 !important;
}

.facebook-icon-color {
    color: #4267B2;
}

.instagram-icon-color {
    color: #D62976;
}

.youtube-icon-color {
    color: #C11010;
}

.text-gray {
    color: #555;
}

.bg-dark-gradient {
    background: rgb(0,0,0);
    background: linear-gradient(200deg, rgb(17, 17, 17) 30%, rgba(51,51,51,1) 88%);   
}

svg, g {
    transform-origin: unset unset;
}


::-webkit-scrollbar{
    background-color: rgb(112, 112, 112);
    border-radius: 20px;
    width: 5px;
    margin: 15px;
}



::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
}

.outline-none {
    outline: none !important;
}

.signIn-link {
    position: absolute;
    top: 25px;
    right: 45px;
    color: white !important;
    text-decoration: none !important;
    cursor: pointer;
}

.signIn-link:hover {
    padding-inline: 10px;
    border-radius: 5px;
}

.form-check-input:checked {
    background-color: blueviolet;
    border-color: rgb(63, 0, 47)
}

.form-check-input:focus {
    box-shadow: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.scroll-y{
    overflow-y: scroll;
}

.rounded-full {
    border-radius: 50%;
}

.custom-select-box select{
    outline: none;
    border: none;
    width: 100%;
    color: gray;
    background-color: white;
}

.custom-select-box {
    padding: 8.2px .8em 8.2px .8em;
    border: solid rgb(199, 199, 199) 1.2px;
    border-radius: 50px;
    position: relative;
    
}

.custom-select-box::after {
    pointer-events: none;
    content: 'Country';
    position: absolute;
    left: 18px;
    background-color: white;
    width: calc(100% - 50px);
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

.custom-select-box:hover {
    border: solid #000000 1.2px;
}

.searchBoxResults{
    cursor: pointer;
}

.searchBoxResults:hover{
    background-color: #eee;
}

.fa-facebook {
    margin-right: 15px;
}

.custom-select-box:focus-within {
    color: #8860D0;
    border: solid #8860D0 2px;
}

.custom-select-box:focus-within::after {
    color: #8860D0;
    width: auto;
    font-size: .8em;
    padding:  0 .5em 0 .5em;
    transform: translate(0, -1.4em);
}

.custom-select-box.selected::after {
    
    color: rgb(141, 141, 141);
    width: auto;
    font-size: .8em;
    padding:  0 .5em 0 .5em;
    transform: translate(0, -1.4em);
}

.selected select {
    color: black;
}

.band-image-field {
    background-color: #C11010;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: #eee;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: dashed #ccc 2px;
    overflow: hidden;
}

.band-image-field:hover {
    cursor: pointer;
    background-color: #bbb;
    border: dashed white 2px;
}

.band-image-field:hover svg {
    color: white !important;
}